#container {
  padding: 0;
}

#content-wrapper {
  padding: 15px;
}

.debug-layout {
  & .row {
    border: 1px solid;

    & [class="col*"] {
      border: 1px solid;
    }  
  }

  & [class^="col"] {
    border: 1px solid;
  }
}